@import '~bootstrap/scss/bootstrap';
$default-theme: #00af66;
$hover-transparency: .25;

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ededed;
}

#register-form { 
  display: none
}

#change-password-form {
  display: none
}

// #game-section {
//   display: none
// }

.container {
  margin: 100px auto;
  padding: 25px;
  max-width: 600px;
}

.scoresheet-container {
  padding: 25px;
  max-width: 600px;
}


#loadOverlay {
  display: none;
}

.die-border {
  border: 2px solid black;

  &.hold {
    border: 2px solid red;
  }
}

.game-container {
  border: 1px solid black;
}

